<configuration>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>room</key>
            <defaultValue>system</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${room}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/${room}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/${room}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{location}/%X{level}/%X{room}/%X{position}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFT" />
    </root>
</configuration>